* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
	font-family:      "Tahoma";
	src:              url(../fonts/9688.ttf),
	                  url(../fonts/9688.woff);
    font-family:      "Roboto Regular";
	src:              url(../fonts/3966.ttf),
	                  url(../fonts/3966.woff);
}	
body {
	background-image: url(../images/fon.png);
	font-family:      Tahoma;
	font-size:        small;
}
.container {
	border:           solid #f2cc87;  
    border-width:     0px 5px;	
	background-image: url(../images/house.png);
	background-color: white;
	background-repeat: no-repeat;
	position:         relative;
	margin:           0px auto;		
	width:            888px;
	height:           742px;
    -webkit-box-shadow: -1px 5px 38px -3px rgba(0,0,0,1);
    -moz-box-shadow:  -1px 5px 38px -3px rgba(0,0,0,1);
    box-shadow:       -1px 5px 38px -3px rgba(0,0,0,1);
}
.header {
	height:           203px;
}
.navigation_top {      
	border-style:     solid;
	border-width:     medium;
	border-top:       none;
	border-radius:    0px 0px 20px 20px;
	border-color:     #af6900;
	box-shadow:       10 10 10px rgba(0,0,0,5);
	background:       linear-gradient( 
                      #f4d69e 50%, 
                      transparent 50%);
	background-size:  3px 3px;
    background-color: #f2cc87;
	width:            172px;
	height:           40px;
	position:         absolute;
	right:            10px;
	font-size:        10px;
    -webkit-box-shadow: inset -5px -5px 10px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: inset -5px -5px 10px -4px rgba(0,0,0,0.58);
    box-shadow: inset -5px -5px 10px -4px rgba(0,0,0,0.58);
}
.nav_top {
	margin:           5px 0px 0px 12px;
}
.nav_top_btn {
	display:          inline-block;
	list-style-type:  none;
	border-style:     solid;
	border-width:     0px 2px 0px 0px;
	border-color:     #ba8d5b;
	padding:          7px 10px 0px 10px;
	height:           25px;

}
.nav_top_btn:last-child {
	border: none;
}
.nav_top_link {
	color:            black;
    text-decoration:  none;
}
.nav_top_link:hover {
	color:            white;
}

.logo {
	position:         relative;
	left:             -20px;
	top:              40px;
}

.navigation {
    display:          block;
	border:           solid #c1b3a3 1px;
	border-bottom:    0px;
	border-radius:    20px 20px 0px 0px;
	width:            676px;
	height:           60px;
	background-color: #ffedca;
	float:            right;
	margin-right:     2px;
	margin-top:       -34px;   
    padding-left:     10px;	
	
}
.navigation_btn {
	position:         relative;
    list-style-type:  none;
    display:          inline-block;
	border:           solid 3px #417233;
	border-radius:    15px;
	background:       linear-gradient( 
                      #ff9900 50%, 
                      transparent 50%);
	background-size:  3px 3px;
	background-color: #ffba53;
	margin:           4px 8px;
	width:            112px;
	height:           50px;
	text-align:       center;
	color:            white;
	font-family:      Roboto Regular;
	font-size:        15px;
    -webkit-box-shadow: inset -6px -6px 10px -4px rgba(0,0,0,0.58);
    -moz-box-shadow:  inset -6px -6px 10px -4px rgba(0,0,0,0.58);
    box-shadow:       inset -6px -6px 10px -4px rgba(0,0,0,0.58);
	
}
.navigation_btn:after {
	content:          '';
	height:           8px;
	position:         absolute;
	bottom:           -4px;
	left:             20px;
	right:            20px;
	display:          block;
	z-index:          2;
	background-color: #4fa32a;
	border-radius:    3px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow:  0px -1px 10px 0px rgba(0,0,0,1);
    box-shadow:       0px -1px 10px 0px rgba(0,0,0,1);
}
.navigation_link {
	display:         block;
	padding:         15px 65px 30px 42px;  
    color:           white;
}
.navigation_link:hover {
	color:           black;
}
.navigation_btn_text{
	position:         absolute;
}
.navigation_btn_text.reptile {
	position:         absolute;
	left:             32px;
	top:              14px;
}
.navigation_icon.dog {
	background:       url("../ico/sprite.png") no-repeat 0 0;
	width:            35px;
	height:           39px;
	position:         absolute;	
	bottom:           32px;
	left:             40px;
}
.navigation_icon.cat {
	background:       url('../ico/sprite.png') no-repeat -40px 0;
	width:            25px;
	height:           47px;
	position:         absolute;
	left:             40px;
	bottom:           30px;
}
.navigation_icon.bird {
	background:       url('../ico/sprite.png') no-repeat -145px 0;
	width:            70px;
	height:           55px;
	position:         absolute;
	left:             5px;
	bottom:           28px;
}
.navigation_icon.fish {
	background:       url('../ico/sprite.png') no-repeat -70px 0;
	width:            69px;
	height:           58px;
	position:         absolute;
	left:             22px;
	bottom:           20px;
}
.navigation_icon.reptile {
	background:       url('../ico/sprite.png') no-repeat -220px 0;
	width:            59px;
	height:           30px;
	position:         absolute;
	left:             28px;
	top:              -15px;
}	

.blocks {
	border:           solid #c1b3a3 1px;
	border-bottom:    0px;
	width:            875px;
	height:           488px;
	margin:           0px auto;
	background-color: #ffecd8;
	clear:            both;
}
.left_column {
	float:            left;
	width:            222px;
	height:           467px;
	padding:          4px 3px 0px 6px;
}
.center_column {
	float:            left;
	width:            330px;
	height:           467px;
	padding:          10px 3px 0px 3px;
}
.right_column {
	float:            left;
	width:            321px;
	height:           467px;
	padding:          10px 6px 0px 3px;
}

.left_column_blocks {
	display:          block;
	border:           solid #c1b3a3 1px;
	border-radius:    15px;
	width:            213px;
	height:           247;
	float:            left;
	margin-top:       6px;
}
.left_column_blocks.bottom {
	height:           191px;
}
.left_column_caption {
	text-align:       right;
	background:       linear-gradient( 
                      #49b149 50%, 
                      transparent 50%);
	background-size:  3px 3px;
	background-color: #63bc63;
	border-radius:    15px 15px 0px 0px;
	padding-right:    15px;
	font-size:        11px;
	color:            white;
}
.left_column_icon {
	position:        absolute;
	left:            25px;
	top:             -7px;
}
.blocks_link {
	text-decoration: none;
	color:           #e08d39;
}
.blocks_link.left_columns{
	color:           #ff3300;
}
.caption {
	margin-top:       5px;
}

.left_column_block {
	display:          block;
	border-radius:    15px 15px 0px 0px;
	background-color: #f2cc87;    
	width:            211px;
	height:           123px;
	font-size:        77%;	
	position:         relative;
	float:            left;  
}
.left_column_icon.pet_icon {
	background:      url("../ico/sprite.png") no-repeat -289px -1px;
	width:           28px;
	height:          28px;
}
.pet_of_the_month_img {
	float:            left;	
	margin:           10px 2c1px 0px 12px;
}

.left_column_block.info_block {
	border-radius:    0px 0px 15px 15px;
}
.left_column_caption.info_caption {
	border-radius:    0px;
}
.left_column_icon.info_icon{
	background:      url('../ico/sprite.png') no-repeat -330px -3px;
	width:           26px;
	height:          26px;
}
.information_img {
	float:            left;
}
.information_img.labrador {
	margin:           10px 15px 0px 20px;
}
.information_img.sobaken {
	clear:            left;
	margin:           0px 15px 0px 4px;
}
.left_column_block.issues_block {
	height:           75px;
}
.left_column_caption.issues_caption {
	text-align:       center;
}
.left_column_icon.isses_icon{
	background:       url('../ico/sprite.png') no-repeat -372px -3px;
	width:            26px;
	height:           26px;
}
.issues_img.mouse {
	float:            left;
	margin:           10px 10px 0px 5px;
}
.left_column_block.loren_block {
	border-top:       solid #c1b3a3 1px;
    height:           50px;
	border-radius:    0px;
}
.lorem_img {
	float:            left;
	margin:           10px 5px 0px 5px;
}
.left_column_block.enim_block {
	border-top:       solid #c1b3a3 1px;
    height:           65px;
	border-radius:    0px 0px 15px 15px;
}
.enim_img {
	float:            left;
	margin:           5px;
}

.center_column_blocks {
	display:          block;
	background-color: #ffedca;    
	border:           solid #c1b3a3 1px;
	border-radius:    15px 15px 15px 15px;
	width:            324px;
	height:           115px;
	font-size:        77%;	
	position:         relative;
}
.center_column_caption  {
	border-radius:    15px 15px 0px 0px;
	background-color: #e08d39;
	color:            white;
	font-size:        10px;
	padding-left:     40px;
}
.center_img_family {
	float:            left;
	margin:           7px 10px 10px 5px;
}

.center_column_blocks.things_block {
	display:          block;   
	border:           solid #c1b3a3 1px;
	border-radius:    15px;
	width:            324px;
	height:           324px;
	float:            left;
	font-size:        100%;
	margin-top:       5px;
}
.center_column_blocks.featured_block_royal {
	border-width:     0px;
	width:            322px;
	height:           125px;
}
.center_column_img.royal {
	position:         absolute;
	left:             138px;
	top:              -2px;
}

.center_column_blocks.botles_block{
	border-width:     1px 0px 0px 0px;
	width:            322px;
	border-radius:    0px;
	height:           82px;
}
.center_column_img.botles_img {
	float:            left;
	margin-right:     17px;
}
.center_column_img.star_img{
	position:         absolute;
	left:             -6px;
	top:              -10px;
}

.center_column_blocks.staffs_block {
	height:           51px;
	border-radius:    0px;
	width:            322px;
	border-width:     1px 0px 0px 0px;
}
.center_column_staffs_img {
	float:            left;
	clear:            left;
	margin:           0px 32px 0px 10px;
}

.center_column_blocks.brushes_block {
	height:           64px;
	border-radius:    0px 0px 15px 15px;
	border-width:     1px 0px 0px 0px;
	width:            322px;
}
.center_column_brshes_img {
	float:            left;
	clear:            left;
	margin:           0px 30px 0px 10px;
}

.search {
	display:          block;
	border:           solid 1px #c1b3a3;
	border-radius:    12px;
	height:           32px;
	background-color: #ffedca; 
	width:            312px;
	float:            left;
	padding:          5px;
	color:            #595959;
}
.search_text {
	margin:           2px 15px 0px 15px;
	float:            left;
}
.input {
	border:           solid 1px #edbc8b;
}
.search_button {
	border:           solid 2px #fdebc8;
	border-radius:    9px;
	background:       linear-gradient( 
                      #ff9900 50%, 
                      transparent 50%);
	background-size:  3px 3px;
	background-color: #ffba53;
	width:            55px;
	color:            #595959;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:  0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow:       0px 0px 2px 0px rgba(0,0,0,0.75);
}

.right_column_blocks {
	display:          block;
	background-color: #ffedca;    
	border:           solid #c1b3a3 1px;
	border-radius:    15px 15px 15px 15px;
	width:            312px;
	height:           78px;
	font-size:        77%;	
	position:         relative;
	float:            left;
	margin-top:       5px;
}
.right_column_caption {
	border-radius:    13px 13px 0px 0px;
	background-color: #e08d39;
	color:            white;
	font-size:        10px;
	padding-left:     20px;
}
.right_img_box {
	position:         absolute;
	right:            5px;
	bottom:           10px;
}

.right_column_blocks.clubs_block {
	height:           126px;
}
.right_img_bigl {
	float:            left;
	clear:            left;
	margin-right:     15px;  
}

.right_column_blocks.program_block {
	height:           108px;
	text-align:       right;
}
.right_column_caption.offer{
	text-align:       left;
}
.right_column_img.basset_img {
	float:            right;
    clear:            left;
	margin-left:      50px;
}
.right_column_img.offer_img {
	position:         absolute;
	left:             127px;
	top:              44px;
}
.block_program_text {
	display:          block;
	font-size:        13px;
	font-weight:      700;
}

.right_column_blocks.subescribe_block {
	height:           80px;
}
.input_email {
	margin-left:      31px;
	margin-top:       23px;
}

.navigation_bottom {	    
    float:            left;
    list-style-type:  none;
	border-radius:    15px 15px 0px 0px;
	background:       linear-gradient( 
                      #ffaf39 50%, 
                      transparent 50%);
	background-size:  3px 3px;
	background-color: #ffc875;
	width:            862px;
	height:           20px;
	margin-left:      6px;
	padding-left:     222px;
	padding-top:      3px;
	font-size:        77%;
}
.nav_botom_btn {
	display:          inline-block;
	border:           solid 1px black;
	border-width:     0px 1px 0px 0px;
	width:            60px;
	text-align:       center;
}
.navgation_bottom_link {
	text-decoration:  none;
	color:            #303030;
}

.footer {
	position:         relative;
	background-color: #4fa32a;
	height:           50px;
	width:            879px;
	color:            #ffedca;
	padding-top:      20px;
	text-align:       center;
	font-size:        70%;
}
.footer_img {
	position:         absolute;
	bottom:           36px;
	right:            -12px;
}
